body {
    margin: 0px;
    overflow-x: none;
    background: url('images/background.jpg');
    font-family: helvetica, arial;
}

@supports (font-size-adjust: 1) {
    .content {
        font-size-adjust: 0.5;
    }
}

.bg-container {
    position: relative;
}

.logo {
    width: 164px;
    height: 122px;
    display: inline-block;
    position: absolute;
    top: 8px;
}

.logo img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.content-wrapper {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.content {
    line-height: calc(1ex / 0.32);
    background: rgba(0,0,0,0.62);
    padding: 25px;
    color: #EEE;
    
    margin: 25px;
    transition: margin 400ms;
    -webkit-transition: margin 400ms;
    -moz-transition: margin 400ms;
}

.name {
    line-height: 1.5;
}

.zh-name {
    color: #CCCCCC;
    font-size: 0.75em;
    display: inline-block;
    margin-left: 12px;
}

.name-wrapper {
    margin-left: 184px;
}

.hero {
    font-size: 2.1em;
    display: inline-block;
    margin-bottom: 20px;
}

.sub-hero {
    font-size: 1.25em;
    position: relative;
    left: 0px;
    bottom: 0px;
}

.pronounce-guide {
    position: absolute;
    top: 68px;
    height: 16px;
}

.about {
    font-size: 1.1em;
    margin-top: 27px;
}

.pad-bottom {
    padding-bottom: 30px;
}

.description {
    color: #ccc;
}

li {
    padding: 5px;
}

a {
    color: #eee;
}

.contact-info {
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: #a08155;
    padding-bottom: 20px;
    font-weight: bold;   
}

.pb-4 {
    padding-bottom: 16px;
}

@media all and (max-width: 750px) {
    .hero {
        line-height: 1.7;
    }

    .content {
        /* width: auto; */
        margin-left: 0px;
        margin-right: 0px;
    }

    .logo {
        display: none;
    }

    .name-wrapper {
        margin: auto;
    }

    .about {
        margin-top: 0px;
    }
}